
body {
background:#202020;
color: #ddd;
font-family: "Courier New", Courier, monospace;
margin: 40px auto;
max-width: 700px;
line-height: 1.6;
}

header {
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: center;
margin-bottom: 20px;
padding: 10px 15px;
margin: 20px auto;
border: 9px solid white;
width: 80%;
}

main{
padding: 10px 15px;
margin: 20px auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
color: #7af7ff;
font-size: 30px;
}

p {
color: #ffffff;
}

h3 {
color: #7af7ff;
font-size: 18px;
}

.desc {
color: #aaa;
font-size: 15px;
}

.counter{
margin:14px auto ;
display:inline-block;
border-radius:6px;
}
.counter .num{font-size:18px;color:#9ef}
.counter .label{font-size:13px;color:#bbb}
.counter .count{font-size:20px;color:rgb(231, 82, 223)}

h2 {
color: rgb(231, 82, 223);
border-bottom: 1px dashed #333;
padding-bottom: 4px;
}

section {
margin-top: 20px;
background: rgba(255,255,255,0.05);
padding: 10px 15px;
}

footer {
text-align: center;
color: #666;
font-size: 12px;
margin-top: 40px;
border-top: 1px solid #222;
padding-top: 10px;
}
